/* ---------------------------------------------------
    DEFAULT STYLE
----------------------------------------------------- */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
}
.container-fluid {
  padding: 0;
}
.card {
  padding-right: 10px;
  padding-left: 10px;
  border: none;
}
.card-body {
  border: 1px solid #9e9c93;
  border-radius: 0 0 .25rem .25rem;
  margin-bottom: 20px;
}

/* ---------------------------------------------------
    LINKS AND BUTTONS
----------------------------------------------------- */
a, .dropdown-menu a {
  font-size: 14px;
  color: #00B7FF;
}
a:hover {
  color: #4accff;
}
.dropdown-menu a:hover {
  color: #4accff;
  background-color: #02091f;
}

/* ---------------------------------------------------
    HEADER ADMIN
----------------------------------------------------- */
#admin-nav{
  background-color: #02091f;
  color: #00B7FF;
  height: 40px;
  margin-bottom: 0;
}
.navbar-toggler {
  height: 25px;
}
.fas {
  color: #ffffff;
}
#admin-collapse, .dropdown-menu{
  background-color: #01071a;
}
.navbar-nav .nav-link {
  padding-left: 20px;
}

/* ---------------------------------------------------
    HEADER
----------------------------------------------------- */
#main-nav {
  margin-bottom: 40px;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
#footer{
  background-color: #02091f;
  margin-top: 60px;
  padding: 10px 20px 5px 20px;
}

/* ---------------------------------------------------
    TYPOGRAPHY
----------------------------------------------------- */
h1 {
  line-height: 2em;
}


.attention {
  color: crimson !important;
}